NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_USE_MOCKS=false
NEXT_PUBLIC_SUPABASE_URL=https://hsmchdzqqybvsnckasjt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhzbWNoZHpxcXlidnNuY2thc2p0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwMTA1ODUsImV4cCI6MjA5MTU4NjU4NX0.sQ_2O2t5t5erKXLTbmWrc_zp1v94HKeQVla8y3RrDO8